* {
	margin: 0px;
	padding: 0px;
}

header {
	background-color: #C59362;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 250px;
	max-width: 100vh;
}

header #logo {
	width: 200px;
	height: 100px;
	margin: 0 auto;
	padding: 20px;
}

header #hamb {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	padding:10px;
}

header ul li {
	font-family: sans-serif;
	padding: 5px;
	font-size: 20px;
	list-style: none;
	font-family: 'Bebas Neue', cursive;
}

header ul {
	display: none;
	animation-duration: 0.3s;
  	animation-name: fadein;
}

main {
	background-image: url(aderezos.jpg);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Bebas Neue', cursive;
	font-size: 60px;
	color: lightgoldenrodyellow;
	text-align: center;
	flex-direction: column;
}

main button {
	width: 80px;
	height: 50px;
	border: 1px solid white;
	background-color: transparent;
	color: lightgoldenrodyellow;
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	border-radius: 15px;
	margin: 30px;
}

main button:hover {
	background-color: lightgoldenrodyellow;
	color: #C59362;
	transition: 0.5s;
}

@keyframes fadein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

